<div class="page">
	<!--header-->
	<header class="header">
		<nav class="navbar">
			<div class="container-fluid">
				<div class="navbar-holder d-flex align-items-center justify-content-between">
					<div class="navbar-header">
						<!-- navbar brand -->
						<a href="index.html" class="navbar-brand d-none d-sm-inline-block">
						<div class="brand-text d-none d-lg-inline-block"><strong>FantasyFootball</strong><span>Chain</span></div>
						<div class="brand-text d-none d-sm-inline-block d-lg-none"><strong>FF4</strong></div></a>
						<!-- toggle button -->
						<a id="toggle-btn" href="#" class="menu-btn active"><span></span><span></span><span></span></a>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<div class="page-content d-flex align-items-stretch"> 
		<!-- left menu -->
		<nav class="side-navbar">
			<div class="sidebar-header d-flex align-items-center">
				<div class="avatar"><img src="assets/images/misc/logo.png" alt="..." class="img-fluid rounded-circle"></div>
				<div class="title">
					<h1 class="h4">FantasyFootball</h1>
					<p>on blockchain</p>
				</div>
			</div>
			<span class="heading">Main</span>
			<ul class="list-unstyled">
				<li routerLinkActive="active"><a routerLink="home"> <i class="icon-home"></i>Home </a></li>
				<li routerLinkActive="active"><a routerLink="league"> <i class="icon-list"></i>Leagues </a></li>
				<li routerLinkActive="active"><a routerLink="finance"> <i class="icon-bill"></i>Finance </a></li>
				<li *ngIf="isOracle" routerLinkActive="active"><a routerLink="oracle"> <i class="icon-check"></i>Oracle </a></li>
			</ul>
		</nav>
		<div class="content-inner">
			<!-- content -->
			<router-outlet></router-outlet>
			<!-- footer-->
			<footer class="main-footer">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-6">
							<p>Fantasy Football Chain &copy; 2019</p>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
</div>
